.landing__description {
    margin-bottom: $small-margin;
    color: var(--color-description);
}

.landing__about--text {
    font-size: $medium-font-size;
}

.landing__about--heading {
    color: var(--color-zomp);
}

.center {
    @include center;
    margin-bottom: $large-margin;
}

.home__gallery {
    @include grid;
    grid-template-rows: 1fr;
}

.home__gallery--1 {
    grid-area: 1 / 1 / 2 / 2;
}

.home__gallery--2 {
    grid-area: 1 / 2 / 2 / 3;
}

.airplane {
    margin-left: $medium-margin;
    margin-top: $large-margin;
}

.landing__cities>p {
    color: var(--color-travel);
    font-family: $playfair-display;
    font-size: $large-font-size;
    margin-bottom: $large-margin;

    &:first-child {
        margin-top: $medium-margin;
    }
}