.landing__tag {
    color: var(--color-tag);
    font-weight: bold;
    font-size: $medium-font-size;
    margin-bottom: $small-margin;
}

.landing__description {
    margin-bottom: $small-margin;
    color: var(--color-description);
}

.landing__info--text {
    font-size: $medium-font-size;

    @include respond(phone) {
        text-align: center;
    }
}

.landing__info--heading {
    color: var(--color-zomp);

    @include respond(phone) {
        text-align: center;
    }
}

.center {
    @include center;
    margin-bottom: $large-margin;
}

.home__gallery {
    @include grid;

    @include respond(phone) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
}

.home__gallery--1 {
    grid-area: 1 / 1 / 2 / 2;

    @include respond(phone) {
        grid-area: 1 / 1 / 2 / 2;
    }
}

.home__gallery--2 {
    grid-area: 1 / 2 / 2 / 3;

    @include respond(phone) {
        grid-area: 2 / 1 / 3 / 2;
    }
}

.airplane {
    margin-left: $medium-margin;
    margin-top: $large-margin;
}

.landing__cities>p {
    color: var(--color-travel);
    font-family: $playfair-display;
    font-size: $large-font-size;
    margin-bottom: $large-margin;

    &:first-child {
        margin-top: $medium-margin;
    }
}