.landing__text {
    margin-bottom: $small-margin;
}

.landing__about--text {
    font-size: $medium-font-size;
}

.center {
    @include center;
    margin-bottom: $large-margin;
}

.airplane {
    margin-left: $medium-margin;
    margin-top: $large-margin;
}

.landing__cities>p {
    color: $color-cultured;
    font-family: $playfair-display;
    font-size: $large-font-size;
    margin-bottom: $large-margin;

    &:first-child {
        margin-top: $medium-margin;
    }
}