footer {
    display: flex;
    align-items: center;
    height: var(--nav-height);
    font-family: $playfair-display;

    .footer__nav {
        align-self: stretch;
        display: flex;
        align-items: center;
        margin-left: auto;
        padding: 0 4rem;
        height: 100%;

        &>p {
            font-size: $default-font-size;
            margin: 0;

        }
    }

    svg {
        margin-left: $small-margin;
        cursor: pointer;
    }
}