.page__description {
    margin-bottom: $large-margin;
    font-size: $medium-font-size;
    line-height: $medium-line-height;
    color: var(--color-description);
}

.bold__description {
    font-weight: bold;
}

.info--heading {
    color: var(--color-zomp);
    font-size: $medium-font-size;
    font-family: $lato;
}

.info--text {
    font-size: $medium-font-size;
}