.section {
    background: $color-gunmetal;
    padding-top: $default-padding;
    padding-bottom: $default-padding;

    &__heading {
        color: $color-cultured;
        padding-top: $default-padding;
        padding-bottom: $default-padding;
        font-size: $xlarge-font-size;

        @include respond(phone) {
            font-size: $large-font-size;
        }
    }
}