path {
    transition: fill .6s ease;
}

.scroll {
    animation: 3s ease-in 1s infinite alternate slidein;
    animation-name: scroll;

    @keyframes scroll {
        from {
            transform: translateY(0);
        }

        to {
            transform: translateY(50rem);
        }
    }
}


.bounce {
    animation: bounce infinite linear 6s;
}

@keyframes bounce {

    0%,
    50%,
    75%,
    100% {
        transform: translate(10rem, -3rem);
        rotate: (-10deg);
    }


    40% {
        transform: translateX(-20px);
        rotate: (30deg);
    }

    60% {
        transform: translateX(-12px);
    }
}

// TODO: name animation
// .name-animation {
//     stroke-dasharray: 480; // (calculated line)
//     animation: draw 1s reverse;

//     @keyframes draw {
//         from {
//             stroke-dashoffset: 0;
//         }

//         to {
//             stroke-dashoffset: 480;
//         }
//     }
// }