body {
    font-family: $lato;
    color: var(--color-text);
}

li {
    list-style-type: none;
    padding: $default-padding;
}

a {
    color: var(--color-links);
    font-weight: 700;
}

p {
    font-size: $default-font-size;
    font-weight: 300;
    line-height: 3rem;
    margin-right: $medium-margin;
    margin-left: $medium-margin;
}

h1 {
    font-size: $large-font-size;
    margin-top: $large-margin;
    margin-bottom: $small-margin;
}

h1,
h2,
h3 {
    margin-right: $medium-margin;
    margin-left: $medium-margin;
    font-family: $playfair-display;
}

h3 {
    margin-top: $large-margin;
    font-size: $medium-font-size;
    margin-bottom: $small-margin;
}

::selection {
    background-color: $color-roman-silver;
    color: $color-cultured;
}