body {
    font-family: $lato;
    color: var(--color-text);
}

li {
    list-style-type: none;
    padding: $default-padding;
}

a {
    color: $color-roman-silver;
    text-decoration: none;
}

a:hover {
    color: $color-cultured;
    text-decoration: underline;
}

p {
    font-size: $default-font-size;
    font-weight: 300;
}

::selection {
    background-color: $color-gunmetal;
    color: $color-cultured;
}