$color-gunmetal: #253237;
$color-roman-silver: #7D8491;
$color-falu-red: #7D281E;
$color-zomp: #41A78E;
$color-cultured: #FAFAFA;

:root {
    --nav-height: 8.125rem;
    --background-color: #{$color-cultured};
    --color-text: #{$color-gunmetal};
    --color-zomp: #{$color-gunmetal};
    --color-social: #{$color-roman-silver};
    --color-description: #{$color-gunmetal};
    --color-travel: #{$color-cultured};
}

.dark {
    --background-color: #{$color-gunmetal};
    --color-text: #{$color-cultured};
    --color-zomp: #{$color-zomp};
    --color-social: #{$color-cultured};
    --color-description: #{$color-roman-silver};
    --color-travel: #{$color-zomp};
}

// font
$default-font-size: 1.8rem;
$default-font-weight: 400;
$small-font-size: 1.2rem;
$medium-font-size: 2.2rem;
$large-font-size: 4rem;
$xlarge-font-size: 6rem;


$lato: 'Lato',
sans-serif;
$playfair-display: 'Playfair Display',
serif;

// spacing
$default-line-height: 2.2rem;
$small-line-height: 2rem;
$medium-line-height: 4rem;
$large-line-height: 5.4rem;

$default-margin: 6rem;
$small-margin: 1.87rem;
$medium-margin: 4rem;
$large-margin: 8rem;
$xlarge-margin: 12rem;

$default-padding: 1.6rem;
$small-padding: 1rem;
$medium-padding: 4rem;
$large-padding: 6rem;